<div class="w-full h-full flex flex-col overflow-hidden">

    <div class="w-full flex items-center justify-between">
        <p-menubar class="w-full" styleClass="w-full" [model]="_menuItems()">
            <ng-template #start>
                <div class="flex items-center space-x-1">
                    <p-button [text]="true" icon="pi pi-bars" />
                    @if(!_isUpdateDownloaded()) {
                    <span [class.text-gray-300]="_isUpdateAvailable()">{{version}}</span>
                    @if(_isUpdateAvailable()) {
                    <p-progress-spinner class="flex" ariaLabel="loading" [style]="{ width: '20px', height: '20px' }" />
                    }
                    }
                    @else {
                    <p-button label="Update Now" (onClick)="_onRestartApp()" />
                    }
                </div>
            </ng-template>
        </p-menubar>
    </div>
    <div class="h-full w-full overflow-auto">
        <router-outlet />
    </div>
</div>