<p-card class="flex m-auto flex" [class.w-full]="!isNew()" [class.h-full]="!isNew()"
    [style]="isNew() ? {'width':'auto'}:{'width':'100%'}">
    @if(!isNew()) {
    <div class="flex w-full items-center justify-between">
        <div>{{_filename()}}</div>
        <div>
            <p-button [icon]="'pi pi-times'" [rounded]="true" [text]="true" (onClick)="close()" />
        </div>
    </div>
    <p-divider />
    }
    @if(isNew()) {
    <div class="flex justify-center flex-col">
        <span class="text-lg font-semibold">Keine Datei ausgewählt</span>
        <span class="" style="max-width: 320px;">Wähle eine vorhandene Datei aus dem
            Seitenmenü aus, oder erstelle eine neue!</span>
        <p-divider />
        <div class="flex justify-end">
            <p-button icon="pi pi-plus" (onClick)="onCreateFile()" label="Datei erstellen" />
        </div>
    </div>
    }
    @else {
    <form [formGroup]="_formGroup" class="inline-flex flex-col space-y-2 overflow-auto w-full p-2">
        @if(_pdfService.isLoading()) {
        <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
        }
        <div formArrayName="persons" class="inline-flex flex-col space-y-2 w-full">
            @for(person of _formGroup.controls.persons.controls; track person; let personIdx = $index) {
            <div [formArrayName]="personIdx" class="inline-flex flex-col space-y-2 w-full">

                <div class="inline-flex space-x-4 justify-between">
                    <div class="inline-flex flex-col space-y-1">
                        <label for="firstname">Firma</label>
                        <input pSize="small" formControlName="company" pInputText id="company" />
                    </div>
                    <p-button icon="pi pi-trash" severity="warn" [text]="true" size="small"
                        (onClick)="removePerson(personIdx)" />
                </div>
                <div class="inline-flex space-x-4">
                    <div class="inline-flex flex-col space-y-1">
                        <label for="firstname">Vorname *</label>
                        <input pSize="small" required formControlName="firstname" pInputText id="firstname" />
                    </div>

                    <div class="inline-flex flex-col space-y-1">
                        <label for="lastname">Nachname *</label>
                        <input pSize="small" required formControlName="lastname" pInputText id="lastname" />
                    </div>


                </div>

                <div class="inline-flex space-x-4">
                    <div class="inline-flex flex-col space-y-1">
                        <label for="firstname">Straße</label>
                        <input pSize="small" formControlName="street" pInputText id="street" />
                    </div>
                    <div class="inline-flex flex-col space-y-1">
                        <label for="firstname">Hausnummer</label>
                        <input pSize="small" formControlName="streetNo" pInputText id="streetNo" />
                    </div>
                </div>
                <div class="inline-flex space-x-4">
                    <div class="inline-flex flex-col space-y-1">
                        <label for="firstname">Postleitzahl</label>
                        <input pSize="small" formControlName="zipCode" pInputText id="zipCode" />
                    </div>
                </div>
                <div class="inline-flex space-x-4">
                    <div class="inline-flex flex-col space-y-1">
                        <label for="firstname">Stadt</label>
                        <input pSize="small" formControlName="city" pInputText id="city" />
                    </div>
                </div>
            </div>
            <p-divider />
            }
            <p-button (onClick)="addPerson()" icon="pi pi-plus" size="small" label="Person hinzufügen"
                severity="secondary" />
        </div>
        <div formArrayName="groups" class="mt-8">
            @for(group of _formGroup.controls.groups.controls; track group; let groupIndex = $index) {
            <div class="w-full flex flex-col space-y-2" [formArrayName]="groupIndex">
                <div class="flex items-center gap-1">
                    <span class="text-xl font-semibold">{{group.controls.name.value}}</span>
                    <p-button icon="pi pi-pencil" size="small" [text]="true" (onClick)="onEditGroup(groupIndex)" />
                    <p-button icon="pi pi-trash" size="small" severity="warn" [text]="true" (onClick)="onRemoveGroup(groupIndex)" />
                </div>
                <p-table (onRowReorder)="onRowReorder()"
                    [value]="_formGroup.controls.groups.at(groupIndex).controls.items.controls"
                    [tableStyle]="{ 'min-width': '50rem', width:'100%' }">
                    <ng-template #header>
                        <tr>
                            <th style="width:3rem"></th>
                            <th style="min-width: 200px" [id]="'table-header-type'">{{'label.type'|translate}}
                            </th>
                            <th style="min-width: 200px" [id]="'table-header-nr'">{{'label.nr'|translate}}
                            </th>
                            <th style="min-width: 200px" [id]="'table-header-insurer'">{{'label.insurer'|translate}}
                            </th>
                            <th style="min-width: 200px" [id]="'table-header-party'">{{'label.party'|translate}}
                            </th>
                            <th style="min-width: 200px" [id]="'table-header-scope'">{{'label.scope'|translate}}
                            </th>
                            <th [id]="'table-header-suggestion'">{{'label.suggestion'|translate}}
                            </th>
                            <th style="min-width: 200px" [id]="'table-header-fromTo'">{{'label.fromTo'|translate}}
                            </th>
                            <th style="min-width: 200px" [id]="'table-header-oneTimePayment'">
                                {{'label.oneTimePayment'|translate}}
                            </th>
                            <th style="min-width: 200px" [style.width.px]="100" [id]="'table-header-contribution'">
                                {{'label.contribution'|translate}}
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item let-rowIndex="rowIndex">
                        <tr [formGroup]="item" [pReorderableRow]="rowIndex">
                            <td>
                                <span class="pi pi-bars" pReorderableRowHandle></span>
                            </td>
                            <td>
                                {{ item.controls.type.value}}
                            </td>
                            <td>
                                {{ item.controls.nr.value}}
                            </td>
                            <td>
                                <div class="flex flex-row gap-2 items-center">
                                    <img style="height: 32px; width: auto" [src]="item.controls.insurer.value?.image" />
                                    {{ item.controls.insurer.value?.name }}
                                </div>
                            </td>
                            <td>
                                {{ item.controls.party.value}}
                            </td>
                            <td>
                                {{ item.controls.scope.value}}
                            </td>
                            <td>
                                @if(item.controls.suggestion.value) {
                                {{('label.'+ item.controls.suggestion.value.value) | translate}}
                                }
                            </td>
                            <td>
                                {{ item.controls.fromTo.value |cDate:'dd.MM.yy'}}
                            </td>
                            <td>
                                {{ item.controls.oneTimePayment.value}}€
                            </td>
                            <td>
                                <span>
                                    {{ item | monthly}}
                                </span>€
                            </td>
                            <td>
                                <div class="inline-flex gap-1">

                                    <p-button size="small" [disabled]="_pdfService.isLoading()" icon="pi pi-pencil"
                                        severity="secondary" (onClick)="onEditRow(groupIndex,rowIndex)" />
                                    <p-button size="small" [disabled]="_pdfService.isLoading()" icon="pi pi-trash"
                                        severity="danger" (onClick)="_onRemoveRow(groupIndex,rowIndex)" />
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #footer>
                        <tr>
                            <td colspan="8" class="border-b-0 border-t-2 border-zinc-500 dark:border-gray-300">
                                <div class="flex gap-2">
                                    <span class="font-semibold">Alt</span><span class="text-gray-500">(monatl.)</span>
                                </div>
                            </td>
                            <td class="font-semibold border-b-0 border-t-2 border-zinc-500 dark:border-gray-300"></td>
                            <td class="font-semibold border-b-0 border-t-2 border-zinc-500 dark:border-gray-300">
                                {{_formGroup.controls.groups.at(groupIndex).controls.items.controls |
                                existed:'contribution'}} €</td>
                            <td class="font-semibold border-b-0 border-t-2 border-black dark:border-white"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="border-b-0">
                                <div class="flex gap-2">
                                    <span class="font-semibold">Neu</span><span class="text-gray-500">(monatl.)</span>
                                </div>
                            </td>

                            <td class="font-semibold border-b-0">

                                {{_formGroup.controls.groups.at(groupIndex).controls.items.controls |
                                totalOnce:'oneTimePayment'}} €
                            </td>
                            <td class="font-semibold border-b-0">
                                {{_formGroup.controls.groups.at(groupIndex).controls.items.controls |
                                newContribution:'contribution'}} €</td>
                            <td class="border-b-0"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="border-b-0">
                                <div class="flex gap-2">
                                    <span class="font-semibold">Ersparnis</span><span
                                        class="text-gray-500">(monatl.)</span>
                                </div>
                            </td>
                            <td class="font-semibold border-b-0"></td>
                            <td class="font-semibold border-b-0">
                                {{_formGroup.controls.groups.at(groupIndex).controls.items.controls |
                                savings:'contribution'}} €</td>
                            <td class="border-b-0"></td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="w-full flex justify-end">
                    <p-button [disabled]="_pdfService.isLoading()" icon="pi pi-plus" severity="secondary"
                        (onClick)="_onAddRow(groupIndex)" size="small" label="Neue Zeile" />
                </div>

            </div>
            <p-divider />
            }
        </div>
        <p-button icon="pi pi-plus" (onClick)="onAddGroup()" severity="secondary" size="small" label="Neue Gruppe" />

        <div class="w-full flex justify-end space-x-2">
            <p-button [disabled]="_pdfService.isLoading() || _formGroup.invalid || _formGroup.pristine"
                (onClick)="onSave()" icon="pi pi-save" [label]="'Speichern'" />
            <p-button [disabled]="_pdfService.isLoading() || _formGroup.invalid" (onClick)="_onCreatePdf()"
                icon="pi pi-plus" [label]="'label.create_pdf'|translate" />
        </div>
    </form>
    }
</p-card>